.user-container {
    display:inline-block;
    width: 360px;
    margin: 10px;
    padding: 10px;
    border: 2px lime solid;
    border-radius: 12px;
}

.user-container p {color: lightgray}
.user-container p span {
    color: white;
    font-weight: bold;
}