.container {
    width: 836px;
    height: 280px;
    padding: 20px;
    border: 2px solid #00ffff;
    border-radius: 20px;
}

.message {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}


