.news-card {
  box-sizing: border-box;
  margin: 40px auto;
  padding: 20px;
  max-width: 780px;
  background-color: black;
  box-shadow: 0 6px 12px 6px white;
  border-radius: 24px;
}
.news-card img {
  max-width: 100%;
  border-radius: 12px;
}
