li {
  display: block;
  list-style-type: none;
  margin: 20px;
  width: 28vw;
  min-height: 28vw;
  border-radius: 20px;
  position: relative;
  color: black;
  text-shadow: white 0 0 3px, white 0 0 6px, white 0 0 9px;
}
li div {
  text-align: center;
}
li div span {
  text-align: left;
  padding: 20px 20px 0;
  display: block;
}
li div textarea {
  width: 24vw;
  height: 19vw;
  margin: 12px 6px;
  font-size: 16px;
  padding: 3px 6px;
  border-radius: 6px;
}
li div .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}
li div .buttons input[type="color"] {
  margin: 6px;
  vertical-align: bottom;
  height: 32px;
  width: 25%;
  border-radius: 6px;
  appearance: auto;
}
